* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei';

}

#rounded-corner {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    margin: 45px;
    width: 750px;
    text-align: center;
    border-collapse: collapse;
    vertical-align: baseline;
    border-spacing: 1px;
}

#rounded-corner thead th.rounded-company {
    background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
}

#rounded-corner thead th.rounded-q4 {
    background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}

#rounded-corner th {
    padding: 8px;
    font-weight: normal;
    font-size: 18px;
    color: #039;
    background: #b9c9fe;
}

#rounded-corner td {
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}

#rounded-corner tfoot td.rounded-foot-left {
    background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
    text-align: left;
}

#rounded-corner tfoot td.rounded-foot-right {
    background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}

#rounded-corner tbody tr:hover td {
    background: #d0dafd;
}

button.decream,
button.incream {
    display: inline-block;
    width: 20px;
    /* height: 10px; */
    background: #d0dafd;
    border-radius: 25%;
    border: 3px solid #d0dafd;

}

button.remove {
    background: #d0dafd;
    border-radius: 100%;
    border: 6px solid #d0dafd;
}